<div class="navbar">
    <div class="btn-group">
        <div class="btn btn-menu span50 btn-small fuente1 left"><%= link_to 'Ver Perfil', @bar %></div>
        <div class="btn btn-menu span50 btn-small fuente1 left"><%= link_to 'Volver', bars_path %></div>
    </div>
</div>

<div class="container">
	<h1 class="nuevoB">Editing bar</h1>

	<%= render 'form' %>
	
</div>