


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }


div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  color: #d15f02;
  display: table; 
  }
  .field_with_errors input{
    background: #d15f02;
    color: #fff;
  }

#error_explanation {
  width: 815px;
  border: 2px solid #d15f02;
  padding: 7px;
  padding-bottom: 0;
  margin: 20px auto;
  background-color: #f0f0f0;
  border-radius: 10px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #d15f02;
    color: #fff; }
  ul li {
    float: left;
    font-size: 12px;
    list-style: square outside none;
    margin: 10px;
    width: 160px;
    color: #d15f02; } }
